@import "../helpers/variables";
/*==================================================================================================
///////////////////////////////////////////    buttons    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
==================================================================================================*/
.my-button0 {
    padding: 8px 30px;
    cursor: pointer;
    transition: all 0.35s linear;
    text-transform: capitalize;
    color: $white1;
    font-size: 16px;
    border: 1px solid $white1;
    border-radius: 25px 0px;

    &:hover {
        color: $color2;
        border: 1px solid $white1;
        background-color: $white1;
    }
}
.my-button1 {
    padding: 8px 30px;
    cursor: pointer;
    transition: all 0.35s linear;
    text-transform: capitalize;
    color: $color2;
    font-size: 16px;
    border: 1px solid $color2;
    border-radius: 25px 0px;

    &:hover {
        color: $white1;
        border: 1px solid $color2;
        background-color: $color2;
    }
}
.my-button1-active {
    background-color: $color2;
    border: 1px solid $color2;
    border-radius: 25px 0px;
    color: $white1;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.35s linear;
    text-transform: capitalize;

    &:hover {
        color: $color2;
        border: 1px solid $white1;
        background-color: $white1;
    }
}

.my-button2 {
    padding: 8px 30px;
    border-radius: 25px 0px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.35s linear;
    text-transform: capitalize;
    color: $color1;
    border: 1px solid $color1;

    &:hover {
        color: $white1;
        border: 1px solid $color1;
        background-color: $color1;
    }
}

.my-button2-active {
    padding: 8px 30px;
    border-radius: 25px 0px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.35s linear;
    text-transform: capitalize;
    color: $white1;
    border: 1px solid $color1;
    background-color: $color1;

    &:hover {
        color: $color1;
        border: 1px solid $color1;
        background-color: transparent;
    }
}
/* ============================== fly button */

.fly-button {
    // @import "nib"
    * {
        overflow: hidden;
        transition: all 0.35s;
        outline: none;
    }

    button {
        // border-radius: 3px;
        // font-family: 'Pacifico';
        position: relative;
        display: block;
        overflow: visible;
        width: 130px;
        border-radius: 25px 0px;
        height: 40px;
        cursor: pointer;
        border: 1px solid $color1;
        background-color: $color1;

        &:hover {
        border: 1px solid $color1;
        background-color: $color1;
            svg {
                transition: transform 0.35s;
                transform: rotate(10deg);
            }
        }

        p {
            color: $white1 !important;
            transition: transform 0.35s;
            width: auto;
            position: relative;
            left: -20px;
        }

        svg {
            position: absolute;
            top: 10px;
            right: 20px;
            width: auto;
            height: 20px;
            transition: transform 0.35s;

            path {
                fill: $white1;
            }
        }

        &.clicked {
            animation: bounce-in 0.35s forwards;
            border: 1px solid $color2;
            background-color: transparent;
            svg {
                top: -80px;
                right: -10000px;
                animation: flyaway 2s linear;

                path {
                    fill: $color2;
                    // fill: #6AAA3B;
                }
            }
            p{
                font-weight: 700;
                color: $color2 !important;
            }
        }
    }
    @keyframes flyaway {
        0% {
            top: 13px;
            right: 25px;
            height: 30px;
            transform: rotate(10deg);
        }

        5% {
            top: 13px;
            right: 0;
            height: 30px;
            transform: rotate(10deg);
        }

        20% {
            top: 13px;
            right: -130px;
            height: 45px;
            transform: rotate(-20deg);
        }

        40% {
            top: -40px;
            right: -280px;
            transform: rotate(10deg);
            opacity: 1;
        }

        100% {
            top: -200px;
            right: -1000px;
            height: 0;
            transform: rotate(60deg);
            opacity: 0;
        }
    }
    @keyframes bounce-in {
        0% {
            padding-right: 30px;
        }

        20% {
            padding-right: 6px;
        }

        50% {
            padding-left: 80px;
        }

        100% {
            padding-left: 40px;
        }
    }
}
