@import "../helpers/variables"; /*==================================================================================================
///////////////////////////////////////////    heading    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
==================================================================================================*/

.my-heading-full1 {
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 100%;
        height: 2px;
        content: '';
        transform: translateX(-50%);
        background-color: $black1;
    }

    &::after {
        position: absolute;
        bottom: -14px;
        left: 50%;
        width: 10px;
        height: 10px;
        content: '';
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: $black1;
    }
}

.my-heading-full2 {
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 100%;
        height: 2px;
        content: '';
        transform: translateX(-50%);
        background-color: $white1;
    }

    &::after {
        position: absolute;
        bottom: -14px;
        left: 50%;
        width: 10px;
        height: 10px;
        content: '';
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: $white1;
    }
}

.my-heading-half1 {
    position: relative;
    display: inline-block;

    &::before {
        color: $black1;
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 2px;
        width: 100%;
        content: '';
        background-color: $black1;
    }

    &::after {
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%;
        background-color: $black1;
    }
}

.my-heading-half2 {
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background-color: $white1;
    }

    &::after {
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%;
        background-color: $white1;
    }
}
