@import "../helpers/variables";
body{
  // font-family: 'Pacifico';
}
/*==================================================================================================
//////////////////////////////////////////    paragraph    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
==================================================================================================*/
.my-p1{
    text-align: justify;
    text-indent: 70px;
    line-height: 1.75;
    color: $black1;
}
.my-p2{
    text-align: justify;
    line-height: 1.25;
    // color: $white1;
    color: $black1;
}
/*==================================================================================================
///////////////////////////////////////////    shadow    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
==================================================================================================*/
.text-shadow {
    text-shadow: 1px 1px 0 #666, 2px 2px 0 #666, 3px 3px 0 #666, 4px 4px 0 #666, 5px 5px 0 #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


h1,
h2,
h3 {
    text-transform: capitalize;
}
