/* =================================================================================================
///////////////////////////////////////////    global    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
==================================================================================================*/
/* ============================== global */
:root {
    --color: white;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100%;
    margin: 0;
}

html {
  overflow-x: hidden;
}

body {
    position: relative;
    // background-color: #fff;
}

div,
li,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

button,
button:active,
button:focus,
button:hover {
    color: #000;
    border: 1px solid #000;
    outline: none;
    background-color: transparent;
}

img,
video {
    width: 100%;
    max-width: 100%;
}

::-webkit-input-placeholder {
    text-transform: capitalize;
    // font-weight: 500;
}

:-moz-input-placeholder {
    text-transform: capitalize;
    // font-weight: 500;
}
